<!DOCTYPE>
<html>
<head>
</head>
<body style="max-width: 600px; margin-left: auto; margin-right: auto; color: #44403c">
	<h1 style="color: #292524">Cryptobot</h1>
	<hr style="background-color: #e7e5e4"/>
	<p>Hi!</p>
	<p>Thank you for registering! Please confirm your email address by clicking the button below:</p>
	<span style="color: #3b82f6"><a href="{{ link }}">Verify your mail</a></span>
	<br/>
	<p>Thanks!</p>
	<p style="color: #44403c; background-color: #e7e5e4; padding: 0.5em 1em">
		If you did not create this account, you can safely ignore this email.
	</p>
</body>
</html>