<!DOCTYPE>
<html>
<head>
</head>
<body style="max-width: 600px; margin-left: auto; margin-right: auto; color: #44403c">
	<h1 style="color: #292524">Cryptobot</h1>
	<hr style="background-color: #e7e5e4" />
	<p>We received a request to reset your password. Click the button below to set a new one:</p>
	<span style="color: #3b82f6"><a href="{{ link }}">Reset your password</a></span>
	<br />
	<p>Thanks!</p>
	<p style="color: #44403c; background-color: #e7e5e4; padding: 0.5em 1em">If you didn't request this, just ignore this
		email. The link will expire in 15 minutes.
	</p>
</body>
</html>