<!DOCTYPE>
<html>
<head>
	<title>Reset password</title>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
				rel="stylesheet">
</head>
<body class="font-[Rubik] flex flex-col w-100 max-w-md mx-auto my-5 px-4 py-3 border-1 border-stone-200 rounded-sm">
	<h1 class="text-xl font-semibold mb-2 pb-2 color-stone-800 border-b-1 border-inherit">Cryptobot</h1>
	<h2 class="text-md font-medium mb-2 pb-2 border-b-1 border-inherit">Reset your password</h2>
	<form method="post" class="flex flex-col gap-2 border-inherit">
		<label>New password</label>
		<input name="password" type="password" class="border-1 border-inherit rounded-sm p-2" />
		<label>New password confirm</label>
		<input name="password-confirm" type="password" class="border-1 border-inherit rounded-sm p-2"/>
		<button class="mt-3 p-2 rounded-sm bg-blue-500 text-white transition hover:bg-blue-400 hover:cursor-pointer">Submit</button>
	</form>
	{% if error %}
	<div class="rounded-sm mt-4 p-2 text-white bg-red-600">{{ error }}</div>
	{% endif %}
</body>
</html>